<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <appSettings>
    <!-- Azure SDK Storage Emulator credentials -->
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;"/>-->
    <!-- Azure Subscription ceredentials -->
    <add key="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hgouw;AccountKey=lXr8WD/7ULcm9AIrEW9s0q2jdQaVYcTB9rSaaQZJ51m3VxZya+t9yfEpavg5OFuni/A6kYx9bLCdimNRq7roHg==" />
    <add key="ContainerName" value="test" />
    <add key="DataFolder" value="C:\My Documents\My Projects\Azure\Azure.CopyFiles\App_Data" />
  </appSettings>
  <connectionStrings>
    <add name="AzureTestModelContainer" connectionString="metadata=res://*/AzureTestModel.csdl|res://*/AzureTestModel.ssdl|res://*/AzureTestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LNGSYDL-600244\SQLEXPRESS;initial catalog=AzureTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AzureDatabaseContext" connectionString="Data Source=LNGSYDL-600244\SQLEXPRESS;Initial Catalog=AzureTest;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="AzureDatabaseContext" connectionString="Data Source=hgouw.database.windows.net;Initial Catalog=AzureTest;user id=hgouw;password=9k2fh0OIy?cZ;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>