<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Azure SDK Storage Emulator credentials -->
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;"/>-->  
    <!-- Azure Subscription ceredentials -->
    <add key="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hgouw;AccountKey=lXr8WD/7ULcm9AIrEW9s0q2jdQaVYcTB9rSaaQZJ51m3VxZya+t9yfEpavg5OFuni/A6kYx9bLCdimNRq7roHg==" />
    <add key="ContainerName" value="test" />
  </appSettings>
</configuration>